<!-- begin carousel -->
<div class="carousel">
	<div class="sm-heading carousel__header">
		<div class="inner">
			<div class="sm-heading__row">
				<div class="sm-heading__col">
					<div class="sm-heading__label">PLAYIN´ON THE</div>
					<h2 class="sm-heading__title">DREAM FIELD</h2>
				</div>
				<div class="sm-heading__col">
					<div class="sm-heading__description">
						<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="carousel__body">
		<div class="carousel__track js-carousel">
			<div class="carousel__item carousel__item_353">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-1.jpg);"></div></div>
					<div class="carousel__col"><div class="carousel__img" style="background-color: #FF539E;"></div></div>
				</div>
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-2.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_285">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-3.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_369">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-4.jpg);"></div></div>
				</div>
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-5.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_235">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-6.jpg);"></div></div>
				</div>
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-color: #FFDC45;"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_173">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-7.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_438">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-color: #63F6EB;"></div></div>
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-8.jpg);"></div></div>
				</div>
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-5.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_235">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-6.jpg);"></div></div>
				</div>
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-image: url(img/carousel-6.jpg);"></div></div>
				</div>
			</div>
			<div class="carousel__item carousel__item_42">
				<div class="carousel__row">
					<div class="carousel__col"><div class="carousel__img" style="background-color: #FFDC45;"></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end carousel -->