<!-- begin create -->
<div class="create" data-anim-parent>
	<div class="create__inner inner">
		<div class="create__wrap">
			<h2 class="create__title-lg title-lg" data-anim-from="bottom">we create</h2>
			<p data-anim-from="bottom">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. </p>
			<div class="create__footer" data-anim-from="bottom">
				<a href="#" class="btn-text btn-text_pink">SERVICES & PROCESS{{ mixins.icon('arrow-right') }}</a>
			</div>
		</div>
	</div>
</div>
<!-- end create -->