<!-- begin projects -->
<div class="projects">
	<div class="projects__inner inner">
		<div class="projects__head">
			<div class="projects__titles">
				<div class="projects__label">LATEST</div>
				<h2 class="projects__title-lg title-lg">projects</h2>
			</div>
			<div class="projects__all">
				<a href="#" class="btn-text">ALL CASE STUDIES{{mixins.icon('arrow-right')}}</a>
			</div>
		</div>
		<div class="projects__wrap">
			<div class="projects__row">
				<!-- begin project -->
				<div class="project">
					<div class="project__img-wrap" data-anim-from="bottom">
						<div class="project__img" style="background-image: url(./img/case-gallito.jpg)" >
							<div class="project__overlay"></div>
						</div>
					</div>
					<div class="project__wrap">
						<a href="#" class="project__name"><span class="project__line"></span>Rebranding El Gallito{{ mixins.icon('arrow-right') }}</a>
					</div>
				</div>
				<!-- end project -->
			</div>
			<div class="projects__row">
				<!-- begin project -->
				<div class="project">
					<div class="project__wrap">
						<a href="#" class="project__name"><span class="project__line project__line_pink"></span>Cloudtimes{{ mixins.icon('arrow-right') }}</a>
					</div>
					<div class="project__img-wrap" data-anim-from="bottom">
						<div class="project__img" style="background-image: url(./img/case-cloudtimes.jpg)">
							<div class="project__overlay project__overlay_top-right"></div>
						</div>
					</div>
				</div>
				<!-- end project -->
			</div>
		</div>
	</div>
</div>
<!-- end projects -->