body
	min-width: 320px
	color: $dark
	background: $white
	font-family: $lato
	+f(14px, 400, 1.43)
	+font-smoothing
	&.is-overflow-hidden
		overflow: hidden

[data-anim-from]
	position: relative
	opacity: 0
[data-anim-from="bottom"]
	transform: translateY(50px)
	
.text-yellow
	color: $yellow 

.bla
	position: relative
	overflow: hidden
.bla__in
	float: left
	height: 300px
	width: 400px
	border: 1px solid red 