body
	min-width: 320px
	color: $dark
	background: $white
	font-family: $lato
	+f(14px, 400, 1.43)
	+font-smoothing
	&.is-overflow-hidden
		overflow: hidden

[data-anim-from]
	position: relative
	opacity: 0
[data-anim-from="bottom"]
	transform: translateY(50px)
	
.text-yellow
	color: $yellow 

.row
	margin: 0 -15px
	+clr
.col
	float: left
	padding: 0 15px
	&-50
		width: 50%
	&-sm-100
		+sm
			width: 100%