---
title: Work
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({ class: 'header_mod' }) }}
	<!-- begin hero -->
	<div class="hero">
		<div class="hero__bg" style="background-image: url(./img/hero/hero-about.jpg)" data-paroller-factor="0.1" data-paroller-type="foreground"></div>
		<div class="hero__inner inner">
			<h1 class="hero__title title-bigger">about</h1>
		</div>
	</div>
	<!-- end hero -->
	{% include 'partials/components/_team.html' %}
	
	{{banner.call({
		label: 'GOT A',
		title: 'COOL PROJECT FOR US',
		titleSM: true,
		button: 'DROP US A LINE'
	})}}
	{% include 'partials/components/_footer.html' %}

{% endblock %}
