---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({ class: 'header_mod' }) }}
	{% include 'partials/components/_hero.html' %}
	{{ navigation.block({ activeClass: 4 }) }}
	<div class="project-details">
		<div class="sm-section" data-anim-parent>
			<div class="inner sm-section__inner">
				<div class="details">
					<div class="details__figure" data-anim-from="bottom">
						<img src="img/work-gallito-1.png" alt="Gallito">
					</div>
					<div class="details__content">
						<div class="details__header" data-anim-from="bottom">
							<div class="details__label">EL PAÍS</div>
							<div class="details__title">Rebranding El Gallito</div>
						</div>
						<div class="details__description" data-anim-from="bottom">
							<p>El Libro de los Clasificados, de la mano de su mascota El Gallito Luis, no es simplemente un producto, es una marca que forma parte del folclore del Uruguay, gracias a su trayectoria y a un ícono que genera cariño por el producto desde 1983.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sm-section" data-anim-parent>
			<div class="inner sm-section__inner">
				<div class="sm-info">
					<div class="sm-info__figures" data-anim-from="bottom">
						<div class="sm-info__row">
							<div class="sm-info__col">
								<div class="sm-info__img" style="background-image: url(img/project-detail-1.jpg);"></div>
							</div>
							<div class="sm-info__col">
								<div class="sm-info__img" style="background-image: url(img/project-detail-2.jpg);"></div>
							</div>
							<div class="sm-info__col">
								<div class="sm-info__img" style="background-image: url(img/project-detail-3.jpg);"></div>
							</div>
						</div>
					</div>
					<div class="sm-info__content" data-anim-from="bottom">
						<div class="sm-info__title">EL DESAFÍO</div>
						<div class="sm-info__description">
							<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sm-section" data-anim-parent>
			<div class="inner sm-section__inner">
				<div class="sm-info sm-info_right">
					<div class="sm-info__figures" data-anim-from="bottom">
						<div class="sm-info__images">
							<div class="sm-info__image sm-info__image_sm"><img src="img/project-detail-4.png" alt="/"></div>
							<div class="sm-info__image sm-info__image_md"><img src="img/project-detail-5.png" alt="/"></div>
						</div>
					</div>
					<div class="sm-info__content" data-anim-from="bottom">
						<div class="sm-info__title">EL PROCESO</div>
						<div class="sm-info__description">
							<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sm-banner" data-anim-parent>
		<div class="sm-banner__img" data-anim-from>
			<div class="sm-banner__img-in" style="background-image: url(img/sm-banner-1.jpg);"></div>
		</div>
		<div class="inner sm-banner__inner">
			<div class="sm-banner__content" data-anim-from="bottom">
				<div class="sm-banner__title">EL RESULTADO</div>
				<div class="sm-banner__description">
					<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers.</p>
				</div>
			</div>
		</div>
	</div>
	{{banner.call({
		label: 'GOT A',
		title: 'BRANDING PROJECT?',
		button: 'DROP US A LINE'
	})}}
	{% include 'partials/components/_footer.html' %}

{% endblock %}
