.btn-text
	position: relative
	display: inline-block
	vertical-align: top
	padding-right: 14px
	color: $dark
	background: none
	font-family: $montserrat
	+f(12px, 700, normal)
	letter-spacing: 0
	text-transform: uppercase
	text-decoration: none
	transition: color 0.25s
	+hover
		color: $yellow
	&_pink
		+hover
			color: $pink
	.icon-arrow-right 
		position: absolute
		top: 50%
		right: 0
		margin-top: -0.5em
		fill: $pink
		font-size: 9px
	