.head
	&__label
		padding-bottom: 3px
		font-weight: 300 
		font-family: $montserrat
		font-size: 20px
		color: #333D47
		letter-spacing: 0.57px
		line-height: 0.7
		text-transform: uppercase
		+sm 
			padding-bottom: 5px
			font-size: 16px
			line-height: 1.2
	&__title
		font-family: $montserrat
		font-weight: 700 
		font-size: 62px
		color: $yellow
		letter-spacing: 1.77px
		line-height: 0.9
		text-transform: uppercase
		+sm 
			font-size: 48px
		&_pink
			color: $pink 
		&_azure
			color: $azure