.header
	position: absolute
	top: 0
	left: 0
	right: 0
	padding-top: 47px
	+sm 
		padding-top: 20px
	&__nav
		position: relative
		z-index: 1000
		float: right
		margin-right: -7px
		width: 31px
		height: 31px
		background: none
		&:before,
		&:after
			content: ''
			position: absolute
			right: 7px
			width: 17px
			height: 3px
			background-color: $dark
			transform-origin: right center
			transition: transform 0.25s, background-color .25s
			.header_mod &
				background-color: $yellow 
		&.is-active
			&:before
				transform: translate3d(0px,-3px,0) rotate(-45deg) scaleX(1.4)
				background-color: $dark
			&:after
				transform: translate3d(0px,2px,0) rotate(45deg) scaleX(1.4)
				background-color: $dark
		&:before
			top: 8px
		&:after
			bottom: 8px

.logo
	position: relative
	z-index: 1000
	display: inline-block
	vertical-align: top
	font-size: 31px
	&__icon
		display: block
		fill: $dark
		transition: fill .25s
		.header_mod &
			fill: $white 
		.header.is-open &
			fill: $dark
			