.projects
	padding: 90px 0 0
	background-color: rgba($bgGray, 0.1)
	&__inner
	&__head
		width: 100%
		display: table
	&__titles,
	&__all
		vertical-align: middle
		display: table-cell
	&__all
		text-align: right
	&__label
		margin-bottom: -14px
		font-family: $montserrat
		font-weight: 200 
		font-size: 28px
		color: $limedSpruce
		letter-spacing: 4.67px
		line-height: 0.9
	&__title-lg
	&__wrap
	&__row
.project
	&__img-wrap
	&__overlay
	&__img
	&__wrap
	&__name