.slider
	+sm 
		padding-bottom: 40px
	&__pictures
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+md 
			left: 50%
		+sm 
			position: relative
			left: 0
			margin-top: 71px
			height: 300px
	&__picture
		position: absolute
		z-index: 2
		opacity: 0
		pointer-events: none
		transition: opacity 0.8s
		+md 
			right: auto
			left: 0
		+sm 
			position: absolute
			top: 50%
			left: 50%
			right: auto
			max-width: 100%
			max-height: 100%
			transform: translate3d(-50%,-50%,0)
		&.is-active
			opacity: 1
		&_1
			top: 115px
			right: -375px
		&_2
			top: 140px
			right: -402px
		&_3
			top: 75px
			right: -207px
	&__slide
		padding-top: 75px
		height: 706px
		background: $white
		+vertical
		text-align: left
		+sm 
			padding-top: 20px
			height: auto
			text-align: center
		&_yellow
			.slider__title,
			.slider__title-sm
				color: $yellow
		&_pink
			.slider__title,
			.slider__title-sm
				color: $pink
		&_azure
			.slider__title,
			.slider__title-sm
				color: $azure
	&__info
		display: inline-block
		vertical-align: middle
		width: 100%
		max-width: 590px
		+lg 
			max-width: 500px
		+md 
			width: 50%
		+sm 
			width: 100%
			max-width: 300px
	&__label
		margin-bottom: 3px
		font-family: $montserrat
		+f(18px, 700, 26px)
		letter-spacing: 1.51px
		+sm 
			+f(14px, null, 1.3)
	&__subtitle
		margin-bottom: 3px
		font-family: $montserrat
		+f(53px, 700, 35px)
		letter-spacing: 1.51px
		+lg 
			+f(46px, null, 1)
		+sm 
			font-size: 24px
	&__title 
		font-family: $montserrat
		+f(74px, 700, 60px)
		letter-spacing: 2.115px
		+lg
			+f(60px, null, 1)
		+sm 
			font-size: 36px
	&__title-sm
		font-family: $montserrat
		+f(68px, 700, 56px)
		letter-spacing: 1.94px
		+lg
			+f(50px, null, 1)
		+md 
			font-size: 46px
		+sm 
			font-size: 30px
	&__dots
		position: absolute
		left: 50%
		bottom: 17px
		transform: translate3d(-50%,0,0)
		+sm 
			position: static
			padding: 20px 0 0
			text-align: center
			+gpu
	&__dot
		position: relative
		display: block
		width: 16px
		height: 16px
		+sm 
			display: inline-block
			vertical-align: top
		&:nth-child(1)
			&:before
				background-image: linear-gradient(0deg, #b7c0c9 0%, #d5dadf 100%)
				+sm
					background-image: linear-gradient(-90deg, #b7c0c9 0%, #d5dadf 100%)
		&:nth-child(2)
			&:before
				background-image: linear-gradient(0deg, #7a8a9a 0%, #99a5b2 100%)
				+sm
					background-image: linear-gradient(-90deg, #7a8a9a 0%, #99a5b2 100%)
		&:nth-child(3)
			&:before
				background-image: linear-gradient(0deg, #495f76 0%, #596d82 100%)
				+sm
					background-image: linear-gradient(-90deg, #495f76 0%, #596d82 100%)
		&:before
			content: ''
			position: absolute
			top: 3px
			left: 3px
			right: 3px
			bottom: 3px
			border-radius: 50%
