.icon-arrow-right {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-logo {
  width: 2.65em;
  height: 1em;
  fill: currentColor;
}
